*{
    background-color: #dddddd;
}

#titulo{
    background-color: rgba(73, 73, 73, 0.171);
}

#dibujo{
    background-color: blue;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 5rem;
    margin: 10px 10px 10px 10px ;
    background-color: #f0f0f0;
    Text-align: center;
    padding: 5px;
    font-size: x-large;


}

.item-1 {
    color: black;


}

.item-2 {
    color: black;


}

.item-3{
    color: black;


}

.item-4{
    color: black;


}